@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
}
html, body {
  @apply bg-white dark:bg-[#0a0a0f] transition-colors duration-300;
}

#root {
  @apply bg-white dark:bg-[#0a0a0f] min-h-screen;
}